<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
</head>
<body>
            <div class="header">
                <h1>Bean & Brew</h1>
                <p>Log Out</p>
            </div>
    <div class="container">
      <h2>Are you sure you want to logout??</h2>
      <div class="buttons">
        <button>
          <a href="{{url_for('login')}}">Yes, I want to logout </a>
        </button>
        <button><a href="{{url_for('welcome')}}">No, I don't</a></button>
      </div>
    </div>
  </body>
</html>