<!DOCTYPE html>
<html lang="en">
<head>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
</head>
<body>
            <div class="header">
                <h1>Bean & Brew</h1>
                <p>Menu</p>
            </div>
<table style="width:20%">
            <tr>
              <th>Hot Drinks</th>

            </tr>
            {%for food in food%}
             {% if food.food_type=='hot drink' %}
               <tr>
                     <td><a href="javascript:window.open('{{url_for('menu', type = food.food_name)}}', 'width=20,height=50', left=400, top =10);">{{food.food_name}}</a> </td>
                     <td><img src="/static/{{food.path}}" width="100" height="100" ></td>
               </tr>
            {%endif%}
            {%endfor%}
          <tr>
              <th>Cakes</th>

            </tr>
            {%for food in food%}
             {% if food.food_type=='cake' %}
               <tr>
                     <td><a href="javascript:window.open('{{url_for('menu', type = food.food_name)}}', 'width=20,height=50', left=400, top =10);">{{food.food_name}}</a> </td>
                     <td><img src="/static/{{food.path}}" width="100" height="100" ></td>
               </tr>
            {%endif%}
            {%endfor%}
          </table>

</body>
</html>